[project]
name = "sahi"
version = "0.11.24"
readme = "README.md"
description = "A vision library for performing sliced inference on large images/small objects"
requires-python = ">=3.8"
license = "MIT"
license-files = ["./LICENSE"]
dependencies = [
  "opencv-python<=4.10.0.84",
  "shapely>=2.0.0",
  "tqdm>=4.48.2",
  "pillow>=8.2.0",
  "pybboxes==0.1.6",
  "pyyaml",
  "fire",
  "terminaltables",
  "requests",
  "click",
]
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development :: Libraries :: Python Modules",
]

[project.urls]
homepage = "https://github.com/obss/sahi"

[project.scripts]
sahi = "sahi.cli:app"

[tool.uv]
find-links = [
  "https://download.openmmlab.com/mmcv/dist/cpu/torch2.1.0/index.html",
]
default-groups = ["dev", "ci"]

[dependency-groups]
dev = [
  "pytest",
  "ruff",
  "pre-commit>=2.0",
  "jupyterlab>=3.0.14",
  "matplotlib-stubs>=0.2.0",
]
ci = [
  # pytorch should be present for all python versions
  # CPU versions for Linux/Windows CI
  "torch==2.6.0+cpu;python_version>='3.12' and platform_system!='Darwin'",
  "torchvision==0.21.0+cpu;python_version>='3.12' and platform_system!='Darwin'",
  "torch==2.1.2+cpu;python_version<'3.12' and platform_system!='Darwin'",
  "torchvision==0.16.2+cpu;python_version<'3.12' and platform_system!='Darwin'",
  # Regular versions for macOS
  "torch==2.6.0;python_version>='3.12' and platform_system=='Darwin'",
  "torchvision==0.21.0;python_version>='3.12' and platform_system=='Darwin'",
  "torch==2.1.2;python_version<'3.12' and platform_system=='Darwin'",
  "torchvision==0.16.2;python_version<'3.12' and platform_system=='Darwin'",
  # mmdet is supported for python<3.12
  "mmengine;python_version<'3.12'",
  "mmcv==2.1.0;python_version<'3.12'",
  "mmdet==3.3.0;python_version<'3.12'",
  "onnxruntime<1.20;python_version<'3.12'",
  "onnx>1.16;python_version>='3.12'",
  "onnxruntime;python_version>='3.12'",
  # transformers is supported for python>=3.9
  "transformers>=4.49.0;python_version>='3.9'",
  # These are available for all python versions
  "pycocotools>=2.0.7",
  "ultralytics>=8.3.86",
  "scikit-image",
  "fiftyone",
]

[[tool.uv.index]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
explicit = true

[tool.uv.sources]
torch = [{ index = "pytorch-cpu" }]
torchvision = [{ index = "pytorch-cpu" }]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff]
line-length = 120
exclude = ["**/__init__.py", ".git", "__pycache__", "*.ipynb"]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = ["--import-mode=importlib", "--no-header"]
pythonpath = ["."]

[tool.typos.default]
extend-ignore-identifiers-re = ["fo"]
