# Development dependencies
pytest>=7.2.2,<9.0.0
tox>=4.11.4
notebook>=6.5.3,<8.0.0
ipywidgets>=8.1.1
jupytext>=1.16.1
nbconvert>=7.14.2
docutils!=0.21
pytest-xdist[psutil]>=3.0
ruff
jupyterlab>=3.0.14

# Testing dependencies
pytest-cov
pytest-mock
